name: CI

on: [push, pull_request]

jobs:
  test:
    strategy:
      matrix:
        python: ['3.8', '3.9', '3.10']
        platform: [ubuntu-latest]
    runs-on: ${{ matrix.platform }}
    steps:
    - name: Checkout
      uses: actions/checkout@v3
    - name: Set up Python ${{ matrix.python }}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python }}
    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get upgrade
        sudo apt-get install -y git python3-pip
        git clone --depth 1 https://github.com/osrf/gzdev /tmp/gzdev
        sudo python3 -m pip install -r /tmp/gzdev/requirements.txt
        sudo /tmp/gzdev/gzdev.py repository enable osrf stable
        sudo /tmp/gzdev/gzdev.py repository enable osrf nightly
        sudo apt-get update
        sudo apt-get install -y libsdformat13-dev python3-ignition-math7 python3-sdformat13
    - name: Install test dependencies
      run: python3 -m pip install -U tox build[virtualenv]
    - name: Test
      env:
        PYTHONPATH: $PYTHONPATH:/usr/lib/python3/dist-packages
      run: |
        cd sdformat_mjcf
        python3 -c "import sys;print(sys.path)"
        python3 -m tox -e py
